.todo-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 1rem ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e5e5e5; */
}

.todo-container:hover {
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.todo-time {
    font-size: 0.6rem;
    color: #999;
}

















/* .todo-container .todo-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
} */

/* .todo-container .todo-text.done {
    text-decoration: line-through;
    color: #999;
}

.todo-container .todo-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-container .todo-buttons button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    transition: all .2s ease-in-out;
} */
